body{
    margin: 0;
    padding: 0;
    background-color: #93eaf1;
}
.clock{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
    width:200px;
    height: 200px;
    border: 20px solid orangered;
border-radius: 50%;
background-color:white;
background-size: cover;
}

.hour
{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30%;
    height: 6px;
    background-color: black;
    border-radius: 3px;
    animation: animate /*43200s*/2000s linear infinite;
    transform-origin: left;
}
.minute
{
    position:absolute;
    top: 50%;
    left: 50%;
    width: 40%;
    height: 6px;
    background-color:rgb(74, 17, 205);
    border-radius: 3px;  
    animation: animate /*3600s*/60s linear infinite;
    transform-origin: left;
}
.second{
    position:absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 3px;
    background-color:rgb(205, 17, 136);
    border-radius: 3px;  
    animation: animate /*60s*/10s linear infinite;
    transform-origin: left;
}
.he{
    align-items: center;top: 10%;
    left: 650px;
    border-bottom: 8px solid;
   
    text-decoration: dotted;
    text-shadow:black;
    position: absolute;
}
hr{
    position:absolute ;
    width: 90%;
    padding-top: 20px;
   top: 12%;
   background-color:transparent;
}
/*.clock::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30%;
    height: 6px;
    background-color: black;
    border-radius: 3px;
    transform-origin: left;
    animation: animate 4s linear infinite;
}
.clock::before{
    content: '';
    position:absolute;
    top: 50%;
    left: 50%;
    width: 40%;
    height: 6px;
    background-color: black;
    border-radius: 3px;
    animation: animate 4s linear infinite;
    transform-origin: left;
  
}*/
@keyframes animate{
    0%{
        transform: rotate(-90deg);
    }
    100%{
        transform: rotate(270deg);
    }
}